*, .borderbox::after,.borderbox::before{
    box-sizing: border-box!important;
}

.billing{
    width: 95%!important;
    margin: auto;
    margin-top: 20px;
  
    display: flex;
    gap: 20px;

}

.billing form{
    width: 70%;
}


.gotopay{
    height: 100%!important;
width: 30%;
}


@media screen and (max-width:1350px) {
    
.billing{

    flex-direction: column;
    height: auto;

}
.gotopay{
  
width: 100%;
height: auto;
}

.billing form{
    width: 100%;
    height: auto;
}

}



.submitlast{
    cursor: pointer;
}