.Menumobilebody{
    width: 95%;
    margin: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
  transform: translate(-2.5%, 90px)!important;
    box-shadow: 5px 2px 31px rgba(0,0,0,.17);
    z-index: 999;
    border-radius: 10px;
    
    transition: 0.3s transform;
}

.hiddenmenu{
    transform: translate(100%, 90px)!important;
  opacity: 0;
  height: 0;
  width: 0;
    transition: 0.3s all ease-in!important;
}

.menumobitem{
  list-style-type: none;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menumobitem svg {
  font-size: 2em;
}