.CartShowMobile{
    position: fixed;
    top: 0;
    transform: translatey( 77px);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    z-index: 3000;
    height: 100vh;
    background-color: #fff;
   
}

.topcartmob{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #ff4d6d;
    box-shadow: 5px 2px 31px rgba(0,0,0,.17);
    width: 95%;
    margin: auto;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    filter: drop-shadow(2px 1px 2px black);
}


.viewpaycartmobfooter{
    box-shadow: 5px 2px 31px rgba(0,0,0,.17);
    width: 95%;
    margin: auto;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    position: fixed;
    transform: translatex(-2.5%);
    bottom: 28%;
    background-color: white;
}
.viewpaycartmob{
   color: white;
}
.centerbodycartmob{
    box-shadow: 5px 2px 31px rgba(0,0,0,.17);
    background-color: white;
    width: 95%;
    margin: auto;
    height: 53%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    overflow: scroll;
    position: fixed;
    transform: translatex(-2.5%);
    bottom: 36%;
}
.cartbodymob{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    border-bottom: 1px dashed #FF4D6D;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    width: 95%;
    margin: auto;
}

.informcartmob{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.removeiconcartmob{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
color: #FF4D6D;
cursor: pointer;
}

.emptycart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2em;
    font-family: kalameh;
}
.emptycart svg {

    font-size: 3em;
    padding-left: 10px;
}