.productamazing{
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 40px;
 background-color: #FF4D6D;
 background-image: url(http://iraniwp.ir/digix/cosmetic/wp-content/uploads/2023/03/patterns.png);
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
}


.productbodyamazing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    height: 21em;
}
.productbodyamazingimg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productbodyamazingimg img{
    width: 15em;
    height: 21em
}
@media (min-width: 300px) and (max-width: 450px) {
    .productbodyamazing p {
        font-size: small!important;
        color: #FF4D6D;
        margin-top: 5px;
    }
    
  }
.productname {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   text-align: center;
position: relative;
}
.takhfif{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #FF4D6D;
    border-radius: 5px;
   padding: 0 5px;
   font-size: 1.3em!important;
   color: #FF4D6D;
  
}
.productname  a{
    height: 30px;
    margin-top: 10px;
 margin-bottom: 10px;
}
.productbodyamazing img{
    width: 120px;
    height: 110px;
}
.productbodyamazing p{
    font-size: 1.5em!important;
    color: #FF4D6D;
}
.productbodyamazing a{
    color: rgba(0, 0, 0, 0.564);
    font-family: kalameh;
}

.pricenotamazing{
    text-decoration: line-through;
    font-size: 13px;
    color: #FF4D6D;
    position: absolute;
    top: 10px;
    right: 10px;
}

.tocartproduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF4D6D;
    gap: 5px;
}
.tocarttext{
    font-size: 0.5em;
}

.success-message{
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}