
@font-face {
	font-family: Kalameh2;
	font-style: normal;
	font-weight: 900;
	src: url('/public/Fonts/kalameh_regular.ttf') format('truetype');  /* FF39+,Chrome36+, Opera24+*/
		}


@font-face {
	font-family: Kalameh;
	src: url('/public/Fonts/kalamehwebfanum-bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/public/Fonts/kalamehwebfanum-bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: isans;
	src: url('/public/Fonts/isans.ttf') format('truetype');
	}
*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  margin: auto;
  font-family: isans;
  font-size: small;

}
.App{
  direction: rtl;
}


p,h3,h1,h2,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size:unset!important;
}


.row {
    --bs-gutter-x:0;

}

a{
	color: unset;
	text-decoration: none;
}
.hiddendesktop{
	display: none!important;
  }



@media screen and (max-width: 1300px) { 

  .hiddenmobile{
	display: none!important;
  }
  .paddingtopmob{
	padding-top: 102px;
  }

  .hiddendesktop{
    display: flex!important;
    }
  
}