

*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  margin: auto;
  font-family: sans-serif;
  font-size:16px;

}
.App{
  direction: ltr;
}


p,h3,h1,h2,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-size:unset!important;
}


.row {
    --bs-gutter-x:0;

}

a{
	color: unset;
	text-decoration: none;
}
.hiddendesktop{
	display: none!important;
  }



@media screen and (max-width: 1300px) { 

  .hiddenmobile{
	display: none!important;
  }
  .paddingtopmob{
	padding-top: 102px;
  }

  .hiddendesktop{
    display: flex!important;
    }
  
}